<div class="container">
    <router-outlet>
        <div *ngIf="formLoaded | async" class="row">

            <div class="row" id="title">
                <h1>Déclarer un incident</h1>
            </div>

            <form [formGroup]="declareForm" class="col s12">

                <div class="col s6">
                    <div class="row">
                        <div class="col s12 m6">
                            <label>Urgence *</label>
                            <select formControlName="emergencyCB" name="selectedOptionPriority"
                                    materialize="material_select">
                                <option value="" disabled selected>Choisir l'urgence</option>
                                <option *ngFor="let emergency of emergencies" [value]="emergency.id">{{emergency.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col s12 m6">
                            <label>Type d'action *</label>
                            <select formControlName="actionCB" name="selectedOptionType"
                                    materialize="material_select">
                                <option value="" disabled selected>Choisir un type</option>
                                <option *ngFor="let action of actionTypes" [value]="action">{{action}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input formControlName="title" id="incident_title" type="text" class="validate">
                            <label for="incident_title">Titre de l'incident *</label>
                        </div>
                    </div>

                </div>


                <div class="col s6">
                    <div class="row">
                        <div class="col s12 m6">
                            <label>Type de pièce *</label>
                            <select formControlName="areasCB" name="selectedOptionType"
                                    materialize="material_select">
                                <option value="" disabled selected>Choisir une pièce</option>
                                <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
                            </select>
                        </div>

                        <div class="col s6">
                            <div class="row">

                                <label>Objet connecté *</label>
                                <select formControlName="objectCB" name="selectedOptionType"
                                        materialize="material_select">
                                    <option value="" disabled selected>Choisir un objet</option>
                                    <option *ngFor="let object of connectedObjects" [value]="object.id">{{object.name}}
                                    </option>
                                </select>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="input-field col s6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input formControlName="date" id="date" class="datepicker"
                                   materialize="pickadate"
                                   [materializeParams]="dateInit">
                            <label for="date">Date *</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input formControlName="time" id="hour" materialize="pickatime"
                                   [materializeParams]="timeInit" type="text" class="timepicker">
                            <label for="hour">Heure *</label>
                        </div>

                    </div>
                </div>
                
                <div class="row col s12 offset-m9">
                    <button class="btn waves-effect waves-light" [disabled]="declareForm.invalid"
                            (click)="onDeclare()"
                            name="action">
                        Déclarer l'incident
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </router-outlet>
</div>