<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Félicitations !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/verified.css" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Noto+Sans|Open+Sans" rel="stylesheet">
</head>

<body>
    <div id="title">
        <h1>Bienvenue !</h1>
        <h3>Vous avez bien été ajouté à Hestia</h3>
        <h3>Vous êtes maintenant membre du foyer</h3>
    </div>
    <div>
        <a href="www.hestia.fr/home"><img src="images/logo-small.png" alt="logo.png"/></a>
    </div>
    <div id="text">
        <p id="lien">Rendez vous dès à présent sur ce lien <a href="lien">lienverslapage</a> pour accéder à votre foyer et commencer à gérer efficacement vos incidents !</p>
    </div>
    <footer>
        <p>Pour tout renseignement complémentaire, n'hésitez pas à nous <a href="mailto:hestia.polytech@gmail.com">contacter !</a></p>
        <p>Hestia - Un incident n'est pas forcément un empêchement</p>
    </footer>
</body>

</html>
