<div class="container">

    <div class="row" id="title">
        <h1>Déclarer un incident</h1>
    </div>

    <div class="col s6">

        <div>
            <img src="/assets/images/icons/house-with-wifi.png">
            <li routerLinkActive="active"><a routerLink="objects"><p>Lié aux objets connectés</p></a></li>
        </div>

        <div>
            <img src="/assets/images/icons/manager.png">
            <li routerLinkActive="active"><a routerLink="inhabitants"><p>Lié aux utilisateurs</p></a></li>
        </div>

    </div>
</div>