<div class="container">

    <div class="row" id="title">
        <h1>Déclarer un incident</h1>
    </div>

    <div class="col s6" id="pics">

        <div class="left">
            <a routerLink="objects"><img src="/assets/images/icons/house-with-wifi.png"></a>
            <a routerLink="objects"><p>Lié aux objets connectés</p></a>
        </div>

        <div class="right">
            <a routerLink="inhabitants"><img src="/assets/images/icons/manager.png"></a>
            <a routerLink="inhabitants"><p>Lié aux utilisateurs</p></a>
        </div>

    </div>
</div>
