<div class="card z-depth-4" xmlns="http://www.w3.org/1999/html" (click)="openDialog()">
    <div class="card-content activator black-text">
        <!--<div class="row title_and_icon">
            <span class="card-title title_first col s11">{{issueElement.title}}</span>
            <i class="icon_title material-icons right activator col s1">more_horiz</i>
        </div>-->
        <h1 class="card-title">{{issueElement.title}}</h1>
        <!--<p>Type de l'incident : {{issueElement.type?.name}}</p>-->
        <p>Auteur : {{issueElement.author?.firstname + ' '+issueElement.author?.lastname}}</p>
        <p>Importance : {{issueElement.emergency?.name}}</p>
    </div>
</div>
